@midnight: #22222F;
@twilight: #22224F;
@indigo: #22226F;
@nearwhite: #FEE;
@torch: #ffe311;
@glow: #ffae00;

@base: .5rem;
@base2: @base * 2;
@base3: @base * 3;
@base4: @base * 4;
@base5: @base * 5;
@base6: @base * 6;
@base7: @base * 7;
@base8: @base * 8;

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 16px;
  background: radial-gradient(circle at right bottom, @twilight, @midnight);
  background-color: @midnight;
  color: @nearwhite;
}

.container {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}

.scene {
  @matchstickHeight: 14em;
  @sceneBotMargin: @matchstickHeight * .4;

  height: @matchstickHeight;
  width: @matchstickHeight;
  position: absolute;
  bottom: 0;
  right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .fire {
    @fireSize: @matchstickHeight * .8;
    @fireHeight: @sceneBotMargin + @matchstickHeight - (@fireSize / 4);

    margin: 0 auto @base2 auto;
    width: @fireSize;
    height: @fireSize;
    position: absolute;

    .fire-positioner {
      position: absolute;
      bottom: @fireHeight;
      transform: translate(-50%, 0);
    }

    .mixin-fire(@diamScalar, @color, @animFunc) {
      @diam: @fireSize * @diamScalar;
      width: @diam;
      height: @diam * 1.2;
      border-radius: 45%;
      transform-origin: bottom;
      background: @color;
      box-shadow: 0 -3px 20px 3px @color;
      animation: light-flicker 2s @animFunc infinite alternate;
    }

    &-1 {
      .mixin-fire(.3, @torch, ease-in);
    }

    &-2 {
      .mixin-fire(.5, @glow, ease-out);
    }

    &-3 {
      .mixin-fire(.7, #c60741, ease-in-out);
    }

    &-light {
      @size: @fireSize * .2;
      @firelight: fadeout(@nearwhite, 75%);

      animation: light-flicker .4s ease-in-out infinite alternate;
      transform-origin: bottom;
      height: @size * 1.4;
      width: @size * 1.4;
      border-top-left-radius: @size * 2;
      border-top-right-radius: @size * 2;
      border-bottom-left-radius: @size;
      border-bottom-right-radius: @size;
      box-shadow: 0 -50px 120px 80px @firelight;
      transition: box-shadow 300ms linear;
    }

    &-light.hushed {
      box-shadow: none;
      animation: none;
    }

    @keyframes light-flicker {
      0%, 100% {
        transform: scale(1.00);
      }
      25% {
        transform: scale(0.98);
      }
      75% {
        transform: scale(1.02);
      }
    }
  }

  .matchstick {
    position: absolute;
    bottom: @sceneBotMargin;
    transform: translate(-50%, 0);
    background: linear-gradient(to bottom, brown, @twilight);
    height: @matchstickHeight;
    width: @matchstickHeight * .085;
  }
}

.about-me {
  padding-left: @base6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  h1 {
    font-size: 8em;
    margin: 0 0 @base4 0;
  }

  h2 {
    font-size: 5em;
    margin: 0 0 @base3 @base;
  }

  .contact {
    font-size: 4em;
    margin: 0 0 @base5 @base;
  }

  .links {
    list-style-type: none;
    display: flex;
    margin: 0 0 0 @base;
    padding: 0;

    a {
      font-size: 2em;
      color: @nearwhite;
      margin-right: @base2;
      transition: color 400ms ease;
    }

    a:hover {
      color: @glow;
    }
  }
}

.spacer {
  height: 15dvh;
}

@media screen and (max-device-width: 461px) {
  .about-me {
    h1, h2, a, .contact {
      font-weight: initial;
    }

    .links {
      a {
        font-size: 3.5em;
      }
    }
  }

}

@media screen and (max-device-width: 461px) {
  body {
    background: @twilight;
  }

  @media (orientation: portrait) {
    .about-me .links {
      margin-top: @base8 * 2;
      flex-direction: column;

      li {
        margin-top: @base4;
      }
    }

    .spacer {
      height: 0;
    }
  }

  @media (orientation: landscape) {
    body {
      font-size: 8px;
    }
    .scene {
      right: 10dvw;
    }
    .about-me {
      h1, h2 {
        margin-bottom: 0;
      }
    }
  }
}