@mintIceCream: #a2e8bb;
@softGreen: #57996e;

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
   font-family: 'Playfair Display', 'serif';
   background: linear-gradient(to bottom right, @mintIceCream, @softGreen);
   height: 100vh;
}

.main-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 80%;
}

.splash {
   color: white;
   font-size: 36px;
}
